<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column" layout-align="center center">
          <div>
            <md-input-container>
              <label>Title</label>
              <input ng-model="transaction.title" />
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <label>Type</label>
              <input ng-model="transaction.type" />
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <label>Price</label>
              <input type="number" ng-model="transaction.price" />
            </md-input-container>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button ng-click="addTransaction()"> OK </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
